
<ng-container *ngIf="isLoggedIn; else login">

    <ng-container *ngIf="isCanteenAdmin; else other">
      <app-canteen-admin></app-canteen-admin>
    </ng-container>

    

    <ng-template #other>
      <weui-tabbar>
          <weui-tab heading="用餐" [icon]="'<img src=./assets/icon/scan.png>'" class="tabbar">
            <div class="tag-content">
                <app-index style="height: 100%;width: 100%;"></app-index>
            </div>
          </weui-tab>
          <weui-tab heading="订餐" [icon]="'<img src=./assets/icon/shop.png>'" class="tabbar">
            <app-booking></app-booking>
          </weui-tab>
          <weui-tab heading="我" [icon]="'<img src=./assets/icon/setting.png>'" class="tabbar">
              <app-profile style="height: 100%;width: 100%;"></app-profile>
          </weui-tab>
        </weui-tabbar>
    </ng-template>
</ng-container>
<ng-template #login>
  <app-login></app-login>
</ng-template>