
<div class="top-container" >
    <a href="javascript:" class="logout-btn" (click)="logout()" >注销</a>
    <p> {{currentUser?.username}}, 您当前所在的食堂是?</p>
    <ul class="canteen-list">
        <li *ngFor="let c of canteens;">
          <span (click)="sub(c)"> {{ c.name }} </span>
        </li>
    </ul>

    <ng-container *ngIf="connectSuccess;">
      <div>
        <span class="link-hint">成功建立连接,等待客户扫码...</span>
      </div>


      <div class="connection-confirm">
        <ng-container *ngIf="messages?.length > 0">
            <!-- {{ messages?.length }} -->

            {{ messages[0]?.text }} <span style="font-size:24px;">份</span>
        </ng-container>
      </div> 
    </ng-container>

</div>
<div class="bottom-container">
    <div>
        <ng-container *ngIf="messages?.length > 0">
            用餐人数: {{ messages?.length }}
        </ng-container>

      <ul class="order-list">
        <li *ngFor="let m of messages?.reverse()" > {{m?.createdAt}} <span> {{m?.createdBy?.username}} </span> 预订 {{ m?.text }} 份</li>
      </ul>
    </div>
</div>  