.top-container {
    p {
        padding: 15px;
        text-align: center;
        color: black;
        background: #BDBDBD;
        box-shadow: 1px 1px 4px #666666;
    }

    .logout-btn {
        float: right;
        display: block;
        height: 40px;
        width: 40px;
        color: black;
        border-radius: 8px;
        text-align: center;
        line-height: 38px;
        box-shadow: 2px 3px 21px -3px #666666;
        font-size: 12px;
        margin: 10px;
    }

    .connection-confirm {
        height: 120px;
        width: 100%;
        margin: 10px 0px;
        text-align: center;
        line-height: 110px;
        color: white;
        font-size: 60px;
        box-shadow: 10px 25px 60px 22px rgba(93, 100, 197, 0.2);
        background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    }

    .link-hint {
        color: rgba(0, 0, 255, 0.4);
        text-align: center;
        display: block;
    }
    .canteen-list {
        display: flex;
        list-style: none;
        margin: 10px;

        li{
            height: 50px;
            padding: 10px;
            background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
            border-radius: 8px;
            margin: 10px;
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 255, 0.2);
            text-align: center;
            display: flex;
            flex: 1;
            span{
                margin: auto;
                
            }
        }
    }
}

.order-list {
    li{
        box-shadow: 2px 5px 10px 2px rgba(0, 0, 255, 0.2);
        margin-top: 10px;

        span{
            color: cornflowerblue;
            font-size: 20px;
        }
    }
    
}